.map-container {
  flex-grow: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
  min-height: 400px;
  height: 400px;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 0.375rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.warehouse-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #111;
}

.store-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(102, 102, 102, 0.7);
  border: 3px solid #666;
}

.legend-text {
  font-size: 0.875rem;
  color: #020817;
}
