.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 12px;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.filter-group {
  flex: 1 1 0;
  min-width: 200px;
  margin-right: 0;
}

.filter-label {
  color: #020817;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.filter-label-text {
  font-weight: 500;
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened) .ng-select-container {
  border-color: #111 !important;
  box-shadow: 0 0 0 3px rgba(17, 17, 17, 0.16) !important;
}

::ng-deep .ng-select.ng-select-focused.ng-select-opened .ng-select-container {
  border-color: #e5e7eb !important;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04) !important;
}

::ng-deep .ng-select .ng-dropdown-panel {
  .ng-option {
    &.ng-option-marked {
      background-color: #f3f4f6 !important;
      color: #020817 !important;
    }

    &.ng-option-selected {
      background-color: #e5e7eb !important;
      color: #020817 !important;
    }

    &:hover {
      background-color: #f3f4f6 !important;
    }
  }
}
